<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Properties>
		<Property name="logpath">C:\\SELENIUM-AUTOMATION\\LOGS</Property>
	</Properties>

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%-5level] %logger{36} - %msg%n" />
		</Console>

		<RollingFile name="RollingFile"
			fileName="${logpath}/SELENIUM.log"
			filePattern="${logpath}/SELENIUM_%d{yyyyMMdd}.log.gz">
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="20 MB" />
				<TimeBasedTriggeringPolicy />
			</Policies>
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%-5level] %logger{36} - %msg%n" />
		</RollingFile>
	</Appenders>

	<Loggers>

		<Root level="trace">
			<AppenderRef ref="RollingFile" />
		</Root>

	</Loggers>

</Configuration>